<div class="row">
  <div class="col-sm-4 col-md-3 col-xl-2 mb-3">
    <a href="">
      <img class="img-thumbnail mb-3" src="../../../assets/images/logo.png" alt="Menu 1" width="" height="">
      <h5 class="mb-1">Menu 1</h5>
      <p class="text-muted">Simple description to this menu item.</p>
    </a>
  </div>
  <div class="col-sm-4 col-md-3 col-xl-2 mb-3">
    <a href="">
      <img class="img-thumbnail mb-3" src="../../../assets/images/logo.png" alt="Menu 1" width="" height="">
      <h5 class="mb-1">Menu 2</h5>
      <p class="text-muted">Simple description to this menu item.</p>
    </a>
  </div>
  <div class="col-sm-4 col-md-3 col-xl-2 mb-3">
    <a href="">
      <img class="img-thumbnail mb-3" src="../../../assets/images/logo.png" alt="Menu 1" width="" height="">
      <h5 class="mb-1">Menu 3</h5>
      <p class="text-muted">Simple description to this menu item.</p>
    </a>
  </div>
  <div class="col-sm-4 col-md-3 col-xl-2 mb-3">
    <a href="">
      <img class="img-thumbnail mb-3" src="../../../assets/images/logo.png" alt="Menu 1" width="" height="">
      <h5 class="mb-1">Menu 4</h5>
      <p class="text-muted">Simple description to this menu item.</p>
    </a>
  </div>
  <div class="col-sm-4 col-md-3 col-xl-2 mb-3">
    <a href="">
      <img class="img-thumbnail mb-3" src="../../../assets/images/logo.png" alt="Menu 1" width="" height="">
      <h5 class="mb-1">Menu 5</h5>
      <p class="text-muted">Simple description to this menu item.</p>
    </a>
  </div>
  <div class="col-sm-4 col-md-3 col-xl-2 mb-3">
    <a href="">
      <img class="img-thumbnail mb-3" src="../../../assets/images/logo.png" alt="Menu 1" width="" height="">
      <h5 class="mb-1">Menu 6</h5>
      <p class="text-muted">Simple description to this menu item.</p>
    </a>
  </div>
</div>
