<footer class="footer">
    <div class="container center">
        <hr class="layout_footer_hr">
        <div class="footer_font">
            <p>
                <span>
                    DOW RESTRICTED - For internal use only
                </span>
            </p>
            <p>
                Copyright © The Dow Chemical Company (1995- 2020). All Rights Reserved.
            </p>
            <p>
                ®™Trademark of The Dow Chemical Company ("Dow") or an affiliated company of Dow
            </p>
        </div>
    </div>
</footer>